
    body
        {
            padding-top: 20px;
        }
        
    .wrap 
    {
        border: 1px solid;
        padding-bottom: 10px;
        background-color: #566bbb;
        color: #ffff;
        font-family: Helvetica, Arial, sans-serif;
        
        box-shadow: #a79b9b 0px 5px 20px 6px;
    }
    
    
    
    
    
    
    